* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  height: 60px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 3em;
}

.nav-toggle {
  display: none;
}

/* =======
Layout 
========*/

header {
  display: flex;

  background-color: rgb(130, 26, 23);
}

body {
  overflow-x: hidden;
  background-color: hsl(55, 14%, 81%);
}

nav {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.nav1 {
  margin-left: 40em;
}

.main-visual {
  background-size: contain;
  background: no-repeat center center;
  background-image: url(../img/hamburg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
  position: relative;
}

section {
  padding: 0 70px;
}

footer {
  background-color: rgb(130, 26, 23);
  color: orange;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
  font-size: 20px;
}

li {
  font-size: 16px;
  float: left;
  margin-right: 40px;
  color: hsl(55, 14%, 81%);
  list-style: none;
}

/* =======
Typography 
========*/

a {
  text-decoration: none;
  color: hsl(55, 14%, 81%);
}

.main-visual-h1 {
  font-size: 2.4em;
  color: hsl(55, 14%, 81%);
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0.5em 0 0.5em;
  border-radius: 0.3em;
  margin-top: 175px;
  text-align: center;
}

.main-visual-h2 {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 0.5em 0 0.5em;
  border-radius: 0.3em;
  font-size: 1.6em;
  color: hsl(55, 14%, 81%);
  margin-top: 2.3em;
  text-align: center;
  margin-bottom: 175px;
}

.policy-h1 {
  font-size: 30px;
  color: #902923;
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  color: #0a100d;
  font-size: 20px;
  padding-top: 20px;
}

p.bottom {
  padding-top: 40px;
  border-bottom: dotted;
}

p.top {
  padding-top: 40px;
  border-top: dotted;
}
.info-h1 {
  font-size: 30px;
  color: #902923;
  text-align: center;
  margin-top: 20px;
}
.info-h2 {
  text-align: center;
  font-size: 1.7em;
  padding-top: 5px;
  color: #a22c29;
}

.info-h3 {
  text-align: center;
  font-size: 1.1em;
  padding-top: 5px;
  color: #0a100d;
  font-weight: bold;
}

.info-h4 {
  text-align: center;
  font-size: 1.1em;
  padding-top: 5px;
  color: #0a100d;
}

.menu-h1 {
  font-size: 40px;
  color: #902923;
  text-align: center;
}

.reservation-h1 {
  color: #902923;
  font-size: 35px;
  text-align: center;
}

.reservation-h2 {
  color: #0a100d;
  font-size: 35px;
  text-align: center;
  background: #902923;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 0.4em;
}

.reservation-h3 {
  color: #0a100d;
  font-size: 35px;
  text-align: center;
  background: #902923;
}

.location-h1 {
  color: #902923;
  font-size: 35px;
  text-align: center;
}

.location-h2 {
  color: #902923;
  font-size: 30px;
  text-align: center;
}

.location-view {
}
/* =======
Components 
========*/

section img {
  width: 235px;
  height: 200px;
  display: block;
}

.alice-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.coffeecup {
  padding-top: 20px;
  height: 180px;
  width: 250px;
  object-fit: cover;
}

.flex {
  display: flex;
  align-items: center;
  margin-left: 3em;
  padding-bottom: 20px;
}

.bento-description {
  text-align: center;
  padding-left: 10em;
}

.bento-description1 {
  text-align: center;
  padding-left: 15em;
  padding-bottom: 50px;
}

.bento-description2 {
  text-align: center;
  padding-left: 18em;
  padding-bottom: 50px;
}

.cards {
  display: flex;
}

.flex1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #902923;
  border-radius: 5px;
}

.letsgo {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.willywonka {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.in {
  padding-right: 80px;
  color: #0a100d;
  padding-bottom: 5px;
}

.flowbtn11 {
  font-family: "Verdana", sans-serif;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  font-size: 100px;
  color: #fff !important;
  text-decoration: none;
  margin-bottom: 5px;
}

.insta_btn11 .fa-instagram {
  position: relative;
  z-index: 1;
}

.insta_btn11 {
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  overflow: hidden;
}

.flowbtn11 span {
  font-size: 14px;
  position: center;
  left: 30px;
  bottom: 40px;
  transition: 0.7s;
}

.flowbtn11:hover span {
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
  text-decoration: none;
}

.snsbtniti2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-right: 150px;
}

.container h5 {
  padding-right: 20px;
}

.flex100 {
  display: flex;
  justify-content: space-between;
}

.map-parent {
  display: flex;
  flex-direction: column;
  position: relative;
}

.map {
  display: flex;
  flex-direction: column;
  width: 30%;

  margin-left: 65%;
}

.map-description {
  width: 60%;
  position: absolute;
}

iframe {
  padding-bottom: 1em;
}

h5 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.map-p {
  margin: 0.4em 0 0.4em 0;
}

/* Animation */

.main-visual {
  animation-name: slideshow;
  animation-duration: 20s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-delay: 2s;
}

@keyframes slideshow {
  0% {
    background-image: url(../img/hamburg.jpg);
    width: 100vw;
  }
  25% {
    background-image: url(../img/course-menu.jpg);
    width: 100vw;
  }
  50% {
    background-image: url(../img/cake.jpg);
    width: 100vw;
  }
  100% {
    background-image: url(../img/board.jpg);
    width: 100vw;
  }
}

/* extras */

.parent {
  display: flex;
  justify-content: center;
}

.child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36vh;
}

.parent img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  margin-top: 1em;
}

.food-header {
  margin-top: 1.5em;
  font-size: 1.3em;
  font-weight: bold;
}

.food-description {
  padding: 0 1em 1em 1em;
}

.f1 {
  margin-bottom: 0.6em;
}

div span {
  font-size: 0.8em;
  font-weight: lighter;
}

@media screen and (max-width: 600px) {
  body {
    background-color: honeydew;
  }
  header {
    background-color: rgb(130, 26, 23);
    text-align: center;
    position: relative;
  }

  .logo {
    width: 75px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    position: relative;
  }
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    right: 0;
    width: 100%;
    background-color: rgb(130, 26, 23);
    display: none;
  }

  nav ul {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
  }

  nav li {
    text-align: right;
    margin-right: 1em;
    margin-bottom: 1em;
    float: none;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  nav a:hover {
    color: black;
  }

  .nav-toggle:checked ~ nav {
    display: block;
  }
}
